# Node
node_modules/
frontend/dist/
npm-debug.log*

# Go
backend/*.exe
backend/api
backend/storage/
backend/*.test

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Docker volumes
pgdata/
